<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true" >
  <serverUrls>
    <!-- 
    Modified by Markos
    1. All secured services must have "username" and 'password". You must put "dummy" as username and/or password. 
    2. The actual username and password are replaced from Global confugeration table.
    3. Do not put username or paswword attributes for non secure services.
    4. The order might matter. Put secured services first.
    -->
    <!-- Production-->
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/0" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/1" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/2" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/3" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/4" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/5" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/6" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTPSecure/FeatureServer/7" matchAll="true"  username="dummy" password="dummy" tokenServiceUri="https://maps2.dcgis.dc.gov/dcgis/tokens/"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/0" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/1" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/2" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/3" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/4" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/5" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/6" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DDOT/PTP/FeatureServer/7" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/" matchAll="true"/>
    <serverUrl url="https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Ortho2015_WebMercator/MapServer" matchAll="true"/>
    <!--Common-->
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/FeatureServer/0" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/FeatureServer/1" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/FeatureServer/2" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/FeatureServer/3" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/FeatureServer/4" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/MapServer/exts/LRSServer/networkLayers/5/measureToGeometry" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/MapServer/exts/LRSServer/networkLayers/5/geometryToMeasure" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/DDOTLRS/MapServer/exts/LRSServer/networkLayers/76/queryAttributeSet" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/MapServer/exts/DDOTLRSTools/getPointOnRoute" matchAll="true"/>
    <serverUrl url="https://rh.dcgis.dc.gov/dcgis/rest/services/DDOT/LRSSupport/MapServer/exts/DDOTLRSTools/getNearestRouteIntersection" matchAll="true"/>
  </serverUrls>
</ProxyConfig>

