.navButton {
	background-color:#a1a1a1;

	border-radius:10px;
	border:1px solid #292e2d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:2px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #367a70;
}
.navButton:hover {
	background-color:#667a7a;
}
    .navButton:active {
        position: relative;
        top: 1px;
    }
.navButton:disabled{

     cursor: default;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;

                   }

#mar_info {
    float: right;
    cursor:pointer;
}

